* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #121826;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  overflow: hidden;
}
.title {
  text-align: center;
}
.title h1{
  font-size: 2.5rem;
  color: #fff;
  margin-top: 50px;
}
.title p {
  color: #9da3ae;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}
span {
  border-radius: 9999px;
  font-size: 20px;
  display: flex;
  width: 40px;
  height: 40px;
  background-color: #fceed8;
  justify-content: center;
  align-items: center;
}

.coninter {
  width: 1000px;
  height: 400px;

  display: flex;

  justify-content: space-around;
  margin-top: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #212936;
  height: 100%;
  padding: 20px;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0.3);
  filter: blur(1px);
  transition: filter 0.3s;
  animation: an 2s 1s;
  cursor: pointer;
  border: 1px solid white;
}

.card:hover {
  filter: blur(0px);
  
}
.card p {
  font-size: 1.25rem;
  color: #fff;
}

.card .tow {
  font-size: 16px;
  color: #9da3ae;
}
img {
  width: 100%;
  border-radius: 20px;
}
footer {
  margin-top: 50px;
}
@keyframes an {
  100% {
    transform: translatex(0);
  }
  0% {
    transform: translateX(1000px);
  }
}

@media (max-width: 1020px) {
  .coninter {
    width: 90%; 
    height: auto; 
    flex-direction: row; 
    flex-wrap: wrap; 
  }
  .card {
    width: 45%; 
    height: auto; 
    margin-bottom: 40px; 
  }
  .title h1 {
    font-size: 2rem; 
  }
  .title p {
    font-size: 14px; 
  }
}

@media (max-width: 640px) {
  .coninter {
    width: 90%;
    height: auto;
    flex-direction: column;
    align-items: center; 
  }
  .card {
    width: 80%; 
    height: auto;
    margin-bottom: 40px;
    
  }
  .title h1 {
    font-size: 1.5rem;
  }
  .title p {
    font-size: 12px; 
  }
  span {
    width: 30px; 
    height: 30px;
    font-size: 16px;
  }
}
